*::after,
*::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background-color: rgb(4, 26, 9);
    align-items: center;
    font-weight: bold;
    color: rgb(238, 241, 43);
}

nav>*:nth-child(2) {
    display: grid;
    justify-content: end;
}

.logo {
    padding-left: 1em;
    cursor: pointer;
}

.nav {
    align-self: end;
    display: inline-flex;
    list-style: none;
}

.nav>* {
    padding: 1em;
    cursor: pointer;
}

.nav>*:hover {
    background-color: black;
    color: #2ECDA9FF;
}


/* Hero Section */

.heroSec {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    height: 100%;
    width: 100%;
}

.slides {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: auto;
}

.heroSec .img {
    width: 100vw;
    height: 45vw;
}